In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("./archive/bitcoin_price_Training - Training.csv")
df_test = pd.read_csv("./archive/BTC-USD(1).csv")

# For Now look at how the data really is in csv Files

In [5]:
df.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Jul 31, 2017",2763.24,2889.62,2720.61,2875.34,"860,575,000","45,535,800,000"
1,"Jul 30, 2017",2724.39,2758.53,2644.85,2757.18,"705,943,000","44,890,700,000"
2,"Jul 29, 2017",2807.02,2808.76,2692.80,2726.45,"803,746,000","46,246,700,000"
3,"Jul 28, 2017",2679.73,2897.45,2679.73,2809.01,"1,380,100,000","44,144,400,000"
4,"Jul 27, 2017",2538.71,2693.32,2529.34,2671.78,"789,104,000","41,816,500,000"

In [6]:
df_test.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100

# df will be use for dataframe for training and df_test for trsting purposes Now on

In [8]:
df.shape

(1556, 7)

In [9]:
df_test.shape

(2747, 7)

# Checking on thr df for some time from now on

In [10]:
df.shape

(1556, 7)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556 entries, 0 to 1555
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1556 non-null   object
 1   Open        1556 non-null   float64
 2   High        1556 non-null   float64
 3   Low         1556 non-null   float64
 4   Close       1556 non-null   float64
 5   Volume      1556 non-null   object
 6   Market Cap  1556 non-null   object
dtypes: float64(4), object(3)
memory usage: 85.2+ KB

In [16]:
df.describe()

              Open         High          Low        Close
count  1556.000000  1556.000000  1556.000000  1556.000000
mean    582.625328   597.992847   567.851446   584.239396
std     523.137312   542.992855   505.877401   525.904442
min      68.500000    74.560000    65.530000    68.430000
25%     254.287500   260.327500   248.835000   254.320000
50%     438.600000   447.560000   430.570000   438.855000
75%     662.437500   674.525000   646.735000   663.402500
max    2953.220000  2999.910000  2840.530000  2958.110000

In [18]:
df.duplicated().sum()

0

In [20]:
df.isnull().sum()

Date          0
Open          0
High          0
Low           0
Close         0
Volume        0
Market Cap    0
dtype: int64

In [25]:
for i in df:
    print (df[i])

0       Jul 31, 2017
1       Jul 30, 2017
2       Jul 29, 2017
3       Jul 28, 2017
4       Jul 27, 2017
            ...
1551    May 02, 2013
1552    May 01, 2013
1553    Apr 30, 2013
1554    Apr 29, 2013
1555    Apr 28, 2013
Name: Date, Length: 1556, dtype: object
0       2763.24
1       2724.39
2       2807.02
3       2679.73
4       2538.71
         ...
1551     116.38
1552     139.00
1553     144.00
1554     134.44
1555     135.30
Name: Open, Length: 1556, dtype: float64
0       2889.62
1       2758.53
2       2808.76
3       2897.45
4       2693.32
         ...
1551     125.60
1552     139.89
1553     146.93
1554     147.49
1555     135.98
Name: High, Length: 1556, dtype: float64
0       2720.61
1       2644.85
2       2692.80
3       2679.73
4       2529.34
         ...
1551      92.28
1552     107.72
1553     134.05
1554     134.00
1555     132.10
Name: Low, Length: 1556, dtype: float64
0       2875.34
1       2757.18
2       2726.45
3       2809.01
4       2671.78
         ...
1551     105.21
1552     116.99
1553     139.00
1554     144.54
1555     134.21
Name: Close, Length: 1556, dtype: float64
0         860,575,000
1         705,943,000
2         803,746,000
3       1,380,100,000
4         789,104,000
            ...
1551                -
1552                -
1553                -
1554                -
1555                -
Name: Volume, Length: 1556, dtype: object
0       45,535,800,000
1       44,890,700,000
2       46,246,700,000
3       44,144,400,000
4       41,816,500,000
             ...
1551     1,292,190,000
1552     1,542,820,000
1553     1,597,780,000
1554     1,491,160,000
1555     1,500,520,000
Name: Market Cap, Length: 1556, dtype: object

# By looking at Datasest thoroughly you will come to know that Volumn does not null as shown above but contian - which is unrequired value for calculation so getting rid of it

In [26]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap'], dtype='object')

In [27]:
volumeDf = df["Volume"] 
print(volumeDf.head)
print(volumeDf.tail)

<bound method NDFrame.head of 0         860,575,000
1         705,943,000
2         803,746,000
3       1,380,100,000
4         789,104,000
            ...
1551                -
1552                -
1553                -
1554                -
1555                -
Name: Volume, Length: 1556, dtype: object>
<bound method NDFrame.tail of 0         860,575,000
1         705,943,000
2         803,746,000
3       1,380,100,000
4         789,104,000
            ...
1551                -
1552                -
1553                -
1554                -
1555                -
Name: Volume, Length: 1556, dtype: object>

# Replacing the unwanted - by simple maths

In [30]:
df["Volume"] = df["Volume"].replace("-",np.nan)
df["Market Cap"] = df["Market Cap"].replace("-",np.nan)

In [31]:
df["Volume"].head
df["Volume"].tail

<bound method NDFrame.tail of 0         860,575,000
1         705,943,000
2         803,746,000
3       1,380,100,000
4         789,104,000
            ...
1551              NaN
1552              NaN
1553              NaN
1554              NaN
1555              NaN
Name: Volume, Length: 1556, dtype: object>

In [32]:
df["Market Cap"].head
df["Market Cap"].tail

<bound method NDFrame.tail of 0       45,535,800,000
1       44,890,700,000
2       46,246,700,000
3       44,144,400,000
4       41,816,500,000
             ...
1551     1,292,190,000
1552     1,542,820,000
1553     1,597,780,000
1554     1,491,160,000
1555     1,500,520,000
Name: Market Cap, Length: 1556, dtype: object>

# converting the strings to numbers by removing the foramtted commas there

In [33]:
df["Volume"] = df["Volume"].str.replace(",","").astype(float)
df["Market Cap"] = df["Market Cap"].str.replace(",","").astype(float)

ValueError: could not convert string to float: '860,575,000'